<div class="app-page start-page">

    <form ng-submit="submit()" name="loginForm" id="login-form">
		<header class="splash_FormHeader">
			<h2 class="splash_FormTitle">Log In</h2>
			<button ng-click="$path('/')" class="splash_Button-Nav splash_Button-Nav-arrowLeft"></button>
		</header>
        <div class="input-group login-inputs">
            <div class="input-icon">
                <i class="icon-envelope-alt"></i>
                <input type="email" class="input block" name="user" placeholder="email" autocapitalize="off" autocorrect="off" autofocus="" ng-model="loginUser" tabindex="1">
            </div>
            <div class="input-icon">
                <i class="icon-unlock"></i>
                <input id="pass" type="password" class="input block" name="pass" placeholder="password" ng-model="loginPass" tabindex="2">
                <a class="btn flat pass-reveal" ng-click="$showPass(loginForm.pass)"><i class="icon-eye-close"></i></a>
            </div>

        </div>
		<button class="splash_Button splash_Button-Floating">
			Log in
			<i class="icon-refresh icon-spin" ng-if="loading"></i>
		</button>
    </form>

    <!--
    TODO: add password recovery
    <div class="btn-container">
        <a href="#/pass-recover" class="btn block cta forgot-pass" type="button">Forgot password?</a>
    </div>-->
    <div class="label" ng-show="loginForm.$error.message && loginForm.$dirty">
        {{loginForm.$error.message}}
    </div>
</div>